---
import { pb } from '../lib/pocketbase';

const isAuthenticated = pb.authStore.isValid;
---

<div class="flex items-center space-x-4">
  {isAuthenticated ? (
    <button
      id="logout-button"
      class="text-gray-600 hover:text-primary dark:text-gray-400"
    >
      Log Out
    </button>
  ) : (
    <a
      href="/login"
      class="text-gray-600 hover:text-primary dark:text-gray-400"
    >
      Log In
    </a>
  )}
</div>

<script>
  import { pb } from '../lib/pocketbase';

  const logoutButton = document.getElementById('logout-button');
  
  logoutButton?.addEventListener('click', () => {
    pb.authStore.clear();
    window.location.href = '/';
  });
</script>